#root {
  width: min(1000px, 85vw);
  height: auto;
  background: #f1f1f1;
  color: black;
  font-weight: 600;
  border: 1px solid white;
  border-radius: 15px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
}

.left, .right{
  flex: 1;
}

.right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & form{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap:1.5rem;
    width: 100%;
    border: 1px solid red;
    padding: 1rem;

    & span{
      display: flex;
      flex-flow: column nowrap;
      align-items: start;
      gap:0.5rem;
      border: 1px solid blue;

      & input{
        width: 100%;
      }
    }
  }

  & .right-bottom{
    min-height: 150px;
    border: 1px solid green;
    width: 100%;

  }
}



