#root {
  width: min(1000px, 85vw);
  height: auto;
  background: #FDF5E6;
  color: black;
  font-weight: 600;
  border: 1px solid white;
  border-radius: 15px;
  margin: 0 auto;
  text-align: center;
  display: flex;
}

.left, .right{
  flex: 1;
}

.left {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding:1rem;

  & ul li {
    list-style: none;
  }
}

.right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & form{
    background-color: #FFFFF0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap:1.5rem;
    width: 100%;
    padding: 1rem;
    flex:1;
    border-top-right-radius: 15px;

    & span{
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      gap:0.5rem;
      box-sizing: content-box;
      height: 60px;
      width: min(120px, 100%);

      & > *{
        flex: 1;
      }

      & input{
        font-size: 1.2rem;
        width: 100%;
        height: 20px;
        background-color: #f1f1f1;
        border: 1px solid red;
        border-radius: 15px;
        color:black;
        text-align: center;
        transition: box-shadow 0.2s;

        &:focus{
          outline: none;
          box-shadow: 0 0 5px 2px red;
        }

        /* Chrome, Safari, Edge, Opera */
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        /* Firefox */
        &[type=number] {
          -moz-appearance: textfield;
        }
      }
    }

    & button{
      background: #f1f1f1;
      color: black;
      border: 1px solid red;
      padding: 1rem 1.3rem;
      border-radius: 15px;
      font-size: 1.2rem;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &:hover{
        background-color: red;
        color:white
      }
    }
  }

  & .right-bottom{
    background-color: #FFF5EE;
    min-height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    padding: 0 1rem;
    flex:1;
    border-bottom-right-radius: 15px;
  }
}



